{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="article-card">
    <div class="article-header">
        <h2 class="article-title">{{ instance.title }}</h2>
    </div>
    <div class="article-text">
        {{ instance.text }}
    </div>
    <div class="article-footer">
        <span>Автор:  <a href="{% url 'profile' id=instance.author.pk %}">{{ instance.author }}</a></span>
        <span>{{ instance.views }} просмотров</span>
        <span>{{ instance.created_at|date:"Y-m-d" }}</span>
    </div>

</div>
{% if is_redactor_or_admin %}
<div class="delete-button__container">
    <a href="{% url 'delete' id=instance.pk %}" >
        <button class="delete-button" >Удалить статью</button>
    </a>
</div>
{% endif %}

{% endblock %}
