<!--{% load static %}-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'styles.css' %}" rel="stylesheet">
</head>
<body>

<div class="nav-block">

    {%if request.user.is_authenticated %}
    <a href="{% url 'profile' user.id %}"><button class="au-button">Профиль {{ request.user.username }}</button></a>
        <br>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="au-button" type="submit">Выход</button>
            </form>

    {%else%}
        <form method="get" action="{% url 'login' %}">
                <button class="au-button" type="submit">Логин</button>
        </form>

        <form method="get" action="{% url 'sign' %}">
            <button class="au-button" type="submit">Регистрация</button>
        </form>

    {%endif%}


</div>
    <div class="main-button__container">
        <a href="{% url 'start' %}">
            <button class="main-button">Главная</button>
        </a>
    </div>

{% block content %}
{% endblock %}

</body>
</html>